@import '../css/variables.scss';

#about{
    div{
        align-items: center;
        margin: 30vh 0 0 0;
        p{
            width: 85vw;
        }
    }
}

.about-sentences{
    margin: 0 0 3% 0;
    text-align: center;
}

@media screen and (min-width: $desktop-width) {
    #about{
        div{
            margin: 20vh 0 0 0;
            p{
                width: 55vw;
            }
        }
    }
}