.about-content{
    align-items: center;
    margin: 15% 0 0 0;
}

.about-sentences{
    margin: 0 0 3% 0;
}

.about-spiel{
    width: 55vw;
}

.college{
    text-align: center;
}

@media screen and (max-width: 1050px) {


    .about-spiel{
        width: 85vw;
    }
}