.about-content{
    align-items: center;
    margin: 20vh 0 0 0;
}

.about-sentences{
    margin: 0 0 3% 0;
}

.about-spiel{
    width: 55vw;
}

.college{
    opacity: .7;
    font-weight: 500;
    text-align: center;
}

@media screen and (max-width: 1050px) {
    .about-content{
        margin: 30vh 0 0 0;
    }

    .about-spiel{
        width: 85vw;
    }
}