.body{
    font-family: 'Lato';
    background: #E3FDF5,;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #E3FDF5, #FFE6FA );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    background-attachment: fixed;
}

.page-title{
    font-size: calc(50px + 3vmin);
    font-weight: 700;
    margin-top: 5%;
    margin-left: 10%;
    
}

