.body{
    background: url('../images/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    font-family: 'Lato';
    font-weight: 300;
    color: white;
    /* margin-top: 0; */
    margin-left: 0;
    
}

.flex-container-row{
    display: flex;
    flex-direction: row;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
}


.page{
    height: 100vh;
    width: 100vw;
}



.page-name-background{
    background-color: rgba(0, 0, 0, 0.9);
    width: 20vw;
    height: 99.98vh;
    position: fixed;
}

.page-title-intro{
    padding: 80% 0 0 0;
}

.page-title{
    font-size: 2.3rem;
    margin: 10% 10% 15% 20%;
    text-decoration: none;
}

.page-title-2{
    /* color: #A57D7D; */
    font-size: 2rem;
    text-align: center;
    visibility: hidden;
}

.progress{
    margin-top: 35vh;
    position: fixed;
    left: 95%;
}

.dash-50{
    border-left: 1.5px solid rgba(255, 255, 255, 0.5);
    height: 4vh;
    margin: 3vh 3vh 3vh 0;
}

.dash-100{
    border-left: 1.5px solid rgb(255, 255, 255);
    height: 4vh;
    margin: 3vh 3vh 3vh 0;
}

.page-50{
    color: rgba(206, 205, 232, 0.5);
    text-decoration: none;
}

.page-100{
    color: #CECDE8;
    text-decoration: none;
}

.sentence{
    font-size: 1.3rem;
    font-weight: 300;
}

html {
	scroll-behavior: smooth;
}


@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

@media screen and (max-width: 800px) {
    .page-title{
        visibility: hidden;
    }

    #top .page-title-2{
        padding-top: 5%;
    }

    .page-title-2{
        padding-top: 20%;
        visibility: visible;
    }
    .dash-100{
        visibility: hidden;
    }

    .dash-50{
        visibility: hidden;
    }

    .sentence{
        text-align: center;
        font-size: 1rem;
    }

    .name{
        font-size: calc(1.5rem + 2.5vmin);
    }

}
