.body{
    font-family: 'Lato';
    background: #E3FDF5,;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #E3FDF5, #FFE6FA );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    background-attachment: fixed;
}

.name{
    font-size: 30px;
    font-weight: 700;
    padding-left: 2rem;
    
}

.page-title{
    font-size: 100px;
    font-weight: 700;
    margin-top: 5rem;
    margin-left: 20rem;
    
}

.pic{
    border-radius: 50%;
    width: 391px;
    height: 391px;
    display: block;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.pitch{
    font-size: 30px;
    margin-top: 7rem;
    padding-left: 8rem;
    text-align: center;
}

.spinner-border{
    margin-top: 40rem;
    height: 5rem; 
    width: 5rem; 
}