@import '../css/variables.scss';

.body{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* bottom, image 
     url('../images/background_5.jpeg'); */

    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: $font;
    color: $primary-color;
    margin: 0;
    
}

.header{
    font-size: $header-size;
    text-transform: uppercase;
}

.subheader{
    font-size: $subheader-size;
    text-transform: uppercase;
}

.body-text{
    font-size: $body-size;
}

.flex-container-row{
    display: flex;
    flex-direction: row;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
}


.page{
    height: 100vh;
    width: 100vw;
}

.progress{
    margin-top: 35vh;
    position: fixed;
    left: 95%;
}

.dash-50{
    border-left: 1.5px solid rgba(0, 0, 0, 0.4);
    height: 4vh;
    margin: 3vh 3vh 3vh 0;
}

.dash-100{
    border-left: 1.5px solid rgb(0, 0, 0);
    height: 4vh;
    margin: 3vh 3vh 3vh 0;
}

html {
	scroll-behavior: smooth;
}


@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

@media screen and (max-width: $desktop-width) {
    .dash-100{
        visibility: hidden;
    }

    .dash-50{
        visibility: hidden;
    }

    // .sentence{
    //     text-align: center;
    // }

}
