@import '../css/variables.scss';

#contact{
    text-align: center;
    div{
        align-items: center;
        margin: 45vh 0 0 0;
        p{
            width: 85vw;
        }
        div{ 
            margin: 10vh 0;
        }
        
        
    }

}




@media screen and (min-width: $desktop-width) {

    #contact{
        div{
            align-items: center;
            p{
                width: 55vw;
            }
            
        }
        div{
            a{
                margin: 0;
            }
        }
    }

}