.contact-content{
    align-items: center;
    margin: 22% 0 0 0;
}

.back-to-top{
    font-size: calc(4px + 2vmin);
    text-decoration: none;
    text-align: center;
    margin: 15% 0 0 0;
    color: white;
}

.back-to-top:hover{
    text-decoration: none;
}

/* .flex-container-contact{
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.flex-item{
    margin: 5%;
    margin-bottom: 0%;
    margin-left: 10%;
}

.contacts{
    margin-left: 10%;
}

.contact-icon{
    height: 50px;
    width: 50px;
}

.back-to-top{
    font-size: calc(10px + 3vmin);
    text-align: center;
    margin: 10%;
    color: white;
}

.back-to-top:hover{
    text-decoration: none;
}

.label{
    font-size: calc(2.5px + 3vmin);
    color: white;
    visibility: hidden;
}

.contact-icon:hover ~ .label{
  visibility: visible;
}

@media screen and (max-width: 800px) {
    .flex-container-contact{
        flex-direction: row;
 }
    .heading{
        margin-top: 20%;
    }
    .contacts {
       margin-left: 0%;
    }
    .flex-item{
        margin-left: 5%;
    }
} */