@import '../css/variables.scss';

#contact{
    div{
        align-items: center;
        margin: 45vh 0 0 0;
    }
}
// .contact-content{
//     align-items: center;
//     margin: 45vh 0 0 0;
// }

.back-to-top{
    font-size: $body-size;
    text-decoration: none;
    color: $secondary-color;
}

.back-to{
    text-align: center;
    margin: 0 0 5% 0;
}

.back-to-top:hover{
    text-decoration: none;
    
}




@media screen and (min-width: $desktop-width) {

    #contact{
        div{
            align-items: center;
            margin: 30vh 0 0 0;
        }
        div{
            a{
                margin: 15% 0 5% 0;
            }
        }
    }

    // .contact-content{
    //     align-items: center;
    //     margin: 30vh 0 0 0;
    // }

    // .back-to{
    //     margin: 15% 0 5% 0;
    // }
}