.footer{
    margin: 40% 0 0 0;
    justify-content: center;
    align-items: center;
}

.contact-icon{
    margin: 0 3vw 0 .1vw;
    width: 2vw;
    opacity: .8;
}

.behance{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 2vw; 
}

@media screen and (max-width: 1050px) {
    .contact-icon{
        width: 6vw;
    }
    .behance{
        font-size: 6vw;
    }
}