.footer{
    margin: 60% 0 0 0;
    justify-content: center;
    align-items: center;
}

.contact-icon{
    margin: 0 2.5vw 0 .5vw;
    width: 2vw;
    opacity: .8;
}

@media screen and (max-width: 800px) {
    .contact-icon{
        width: 5vw;
    }
}