@import '../css/variables.scss';

.footer-vertical{
    position: fixed;
    margin: 45vh 0 0 3vw;
    visibility: visible;
    /* justify-content: center; */
    /* align-items: center; */
}

.footer-horizontal{
    visibility: hidden;
    margin: 0;
    justify-content: center;
}

.contact-icon{
    margin: 1.5vmin 0;
}

.contact-image{
    width: 6vmin;
}

.behance{
    text-decoration: none;
    color: $primary-color;
    font-size: 3.5vmin; 
}

@media screen and (max-width: 1050px) {
    .footer-vertical{
        visibility: hidden;
    }

    .footer-horizontal{
        visibility: visible;
    }

    .contact-image{
        width: 8vmin;
    }

    .contact-icon{
        margin: 0 3vmin;
    }
    .behance{
        font-size: 4vmin;
    }
}