.intro-content{
    align-items: center;
    margin: 18% 0 0 0;
}

.intro-item{
    margin: 0 0 5% 0;
    
}

.name{
    /* color: #A57D7D; */
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    font-size: calc(2rem + 2.5vmin);
    font-weight: 300;
}

.job-title{
    /* color: #A57D7D; */
    font-weight: 200;
    font-size: calc(1rem + 2.5vmin);
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.intro-sent{
    width: 40vw;
}

@media screen and (max-width: 800px) {
    .intro-sent{
        width: 80vw;
    }
    .page-name-background{
        visibility: hidden;
    }

    .intro-content{
        margin: 30% 0 0 0;
    }

    .intro-item{
        margin: 0 0 5% 0;
    }

    .intro-visible{
        visibility: hidden;
    }
}
