.intro-content{
    align-items: center;
    margin: 18% 0 0 0;
}

.intro-item{
    margin: 0 0 3% 0;
}

@media screen and (max-width: 800px) {

    .intro-content{
        margin: 40% 0 0 0;
    }

    .intro-item{
        margin: 0 0 5% 0;
    }
}
