#intro{
    height: 102vh;
}

.intro-content{
    align-items: center;
    margin: 40vh 0 0 0;
}

.intro-item{
    margin: 0 0 5% 0;
}

.name{
    /* text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); */
    font-size: 6vmin;
    letter-spacing: 30px;
    font-weight: 500;
    opacity: .6;
}

.job-title{
    /* text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); */
    font-size: 3vmin;
    word-spacing: 40px;
    font-weight: 500;
    opacity: .9;
}


@media screen and (max-width: 1050px) {

    .intro-item{
        margin: 0 0 5% 0;
    }

    .name{
        letter-spacing: 15px;
    }

    .job-title{
        word-spacing: 20px;
    }
}

@media screen and (max-width: 500px) {
    .name{
        letter-spacing: 10px;
    }

    .job-title{
        word-spacing: 15px;
    }
}
