.nav{
    justify-content: center;
    justify-content: space-evenly;
    margin: 5vh 0 0 0;
}


/* @media screen and (max-width: 1060px) {
    .nav-item{
        padding-right: 2rem;
    }
}

@media screen and (max-width: 800px) {
    .nav-item{
        padding-right: 1rem;
    }
  }  */