.navbar{
    margin-top: .5rem;
}


.name{
    font-size: 30px;
    font-weight: 700;
    padding-left: 2rem;
    
}

#nav-pages{
    font-size: calc(3px + 3vmin);
    display:inline-block;
}

.nav-item{
    padding-right: 4rem;
    color: black;
}

.nav-item:hover{
    text-decoration: none;
}