.navbar{
    margin-top: .5rem;
}


.name{
    font-size: 30px;
    font-weight: 700;
    padding-left: 2rem;
    color: white;
    
}

#nav-pages{
    font-size: calc(3px + 3vmin);
    display:inline-block;
}

.nav-item{
    padding-right: 4rem;
    color: white;
}

.nav-item:hover{
    text-decoration: none;
}

@media screen and (max-width: 1060px) {
    .nav-item{
        padding-right: 2rem;
    }
}

@media screen and (max-width: 800px) {
    .nav-item{
        padding-right: 1rem;
    }
  }