.heading{
    margin-top: 10%;
}

.sub-heading{
    margin-top: 1%;
    margin-left: 5%;
}

.projects{
    margin: 10%;
    height: calc(550px + 2vmin);
    width: calc(735px + 2vmin);
}

.project-title{
    font-weight: 700;
    font-size: calc(20px + 2vmin);
}

.project-description{
    font-size: calc(10px + 2vmin);
    margin-top: 10%;
    margin-left: 20%;
}

@media screen and (max-width: 800px) {

    .flex-container{
           flex-direction: column;
    }

    .projects{
        margin-left: 0%;
        width: 100vw;
    }

    .project-description {
       margin-left: 5%;
       margin-top: 2%;
       text-align: center;
    }
}

