@import '../css/variables.scss';

.projects-center{
    margin-left: 10vw;
    /* align-items: center; */
    text-align: left;
    /* margin: 0 10vw 10vw 10vw; */
}

.project-image{
    margin: 20% 5% 0 0;
    width: 40vw;
    max-height: 30vw;
}

.project-title{
    font-size: 1.5rem;
    font-weight: bold;
    opacity: .7;
}

.project-description{
    margin: 20% 0 0 0;
    font-size: $body-size;
    width: 35vw;
}

.link{
    color: $link-color;
    text-decoration: none;
 
}


.button {
    background-color: $primary-color; 
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-right: 2vw;
  }


  .button-row{
    margin-left: 2vw;
}

@media screen and (max-width: 1050px) {

    .project-description{
        width: 90vw;
    }

    .projects-center{
        align-items: unset;
        margin: 0;
    }

    .project-row{
           flex-direction: column;
    }

    .project-image{
        margin-left: 0%;
        max-height: none;
        max-width: 100%;
        width: 100vw;
    }

    .project-description {
       margin-left: 5%;
       margin-top: 2%;
       text-align: center;
    }

    .button-row{
        justify-content: center;
    }

    .button{
        font-size: 13px;
    }
}
