@import '../css/variables.scss';

#project{
    // .card{
    //     border-style: hidden;
    // }
    .card-body{
        margin: 2vw;
    }
}

.project-row{
    // width: 60vw;
    margin: 0 5vw;
}

.projects-center{
    /* align-items: center; */
    text-align: center;
    /* margin: 0 10vw 10vw 10vw; */
    justify-content: space-around;
}

.project-image{
    margin: 20% 5% 0 0;
    width: 20vw;
    max-height: 15vw;
}

.project-title{
    font-size: 1.5rem;
    font-weight: bold;
    opacity: .7;
}

.project-description{
    margin: 20% 0 0 0;
    font-size: $body-size;
    width: 35vw;
}

.link{
    color: $link-color;
    text-decoration: none;
 
}


.button {
    background-color: $primary-color; 
    border-radius: 25px;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
  }


  .button-row{
    justify-content: space-around;
}

@media screen and (max-width: 1050px) {

    .project-description{
        width: 90vw;
    }

    .projects-center{
        align-items: center;
        margin: 0;
    }

    .project-row{
           flex-direction: column;
    }

    .project-image{
        margin-left: 0%;
        max-height: none;
        max-width: 100%;
        width: 100vw;
    }

    // .project-description {
    //    margin-left: 5%;
    //    margin-top: 2%;
    //    text-align: center;
    // }

    // .button-row{
    //     justify-content: center;
    // }

    // .button{
    //     font-size: 13px;
    // }
}
