

$header-font: Bebas Neue;
$font: Roboto;
$primary-color: rgba(0, 0, 0, 0.9);
$secondary-color: black;

$header-size: 6vmin;
$subheader-size: 4vmin;
$body-size: 2vmin;

$weight-1: 400;
$weight-2: 500;

$mobile-width: 300px;
$tablet-width-1: 750px;
$tablet-width-2: 1024px;
$desktop-width: 1275px;